
.search {
    position: fixed;
    top: 100px;
    left: 0px;
    /* height: 50px; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-size: 24px; */
    color: #e3342f;
    padding: 10px;
    z-index: 20;
    background: white;
    border-radius: 0px 5px 5px 0px;
    box-shadow: 1px 1px 2px 0px #000000;

    .search-icon {
        img {
            width: 30px;
            height: 30px;
        }
    }

    input {
        width: 250px;
    }

}

.search-input {
    padding: 15px;
    border-radius: 5px;
    box-shadow: 1px 1px 2px 0px #000000;
    border: 3px #748f26 solid;
}

.tab-content {

    width: 100%;
    min-height: 500px;
    padding: 0px;


}

.ingrs {
    p {
        border-bottom: 2px transparent solid;
        padding: 10px;
        text-transform: uppercase;
        text-align: center;
        font-weight: 800;
        color: gray;
        cursor: pointer;

        &.active {
            border-bottom: 2px #c31200 solid;
            text-transform: uppercase;
            text-align: center;
            font-weight: 800;
            color: white;

            &:first-letter {
                color: #c31200;
            }

        }

    }
}


[data-glide-el="controls"] {
    justify-content: space-between;
    display: flex;

    button {
        position: absolute;
        top: -21px;
        background: #678816;
        border: none;
        width: 40px;
        height: 40px;
        color: white;
        border-radius: 5px;
    }

    .prev {
        left: 0;
    }

    .next {
        right: 0;
    }
}


.additions {
    overflow-x: auto;
    position: relative;
    width: 100%;
    height: 100%;

}

.simple-item {
    width: 100%;
    /* max-width: 200px; */
    height: auto;
    min-width: 175px;
    /* max-height: 200px; */
    min-height: 175px;
    padding: 5px;

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;

        border-radius: 5px;
        box-shadow: 1px 1px 2px 0px #000000;
    }
}

.custom-btn-color-success {
    background-color: #678816;
    box-shadow: 1px 1px 2px 0px #678816;
    border-color: #678816;
}

.custom-btn-color-danger {
    background: #c31200;
    box-shadow: 1px 1px 2px 0px #c31200;
    border-color: #c31200;

}
